extends layout

block content
  h1= title
  p Welcome to #{title}
  div
      ul
          li tg
          li test
    div
        p.
            here I'm I typing a lot of text 
            with multiple lines
    div
        ul
            - for (var i=1; i<10;i++) {
             li= "lot of text" + "even more"
            -}
