extends layout

block content
  h1= title
  p Welcome to #{title}
  div
      ul
          li tg
          li test
    div
        p.
            here I'm I typing a lot of text 
            with multiple lines
    div
        ul
            - for (var i=1; i<10;i++) {
             li= "lot of text" + "even more"
            -}
    canvas#myChart(width='400', height='400')

    script(src="/javascripts/charts.js")
    script.
        var ctx = document.getElementById("myChart");
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
        datasets: [{
            label: '# of Votes',
            data: [{
                x: "2000-01-12",
                y: 10
                }, {
                x: "2001-02-03",
                y: 5
                }],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
        },
        options: {
        scales: {
            xAxes: [{
                type: 'time',
                time: { 
                    displayFormats: {
                        quarter: 'MMM YYYY'
                        }
                    }
                    }],
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
        }
        });

